@model IEnumerable<SRAD_MVC.Models.Grade>
@{
    ViewBag.Title = "Manage";
}

<h2>Manage User : @ViewBag.UserName</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { Id = ViewBag.Id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Score)
        </th>
        <th>
            Grade
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @{
                    if (item.Score < 0)
                    {
                        <label>F</label>
                    }
                    else if (item.Score > 0 && item.Score < 30)
                    {
                        <label>F</label>
                    }
                    else if (item.Score > 30 && item.Score < 40)
                    {
                        <label>E</label>
                    }
                    else if (item.Score > 40 && item.Score < 50)
                    {
                        <label>D</label>
                    }
                    else if (item.Score > 50 && item.Score < 70)
                    {
                        <label>C</label>
                    }
                    else if (item.Score > 70 && item.Score < 90)
                    {
                        <label>B</label>
                    }
                    else if (item.Score > 90 && item.Score < 100)
                    {
                        <label>A</label>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

